// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.large-box {
  width: 60% !important;
}

.block{
  background-color :#e6e6e6;
  color : #1a1a1a;
  border-radius: 15px;
  padding: 20px;
}

.page-link {
}